.stock_detail__container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.stock_detail__autocomplete {
  display: inline-flex;
  margin: auto;
}

.stock_detail__autocomplete button {
  margin-left: 15px;
}
