.stock__container {
  display: flex;
  flex-direction: column;
}

.stock__table {
  padding: 20px;
}

.stock__autocomplete {
  display: inline-flex;
  margin: auto;
  padding: 20px;
}

.stock__autocomplete button {
  margin-left: 10px;
}
